#root {
  height: 100%;
}

.new-event.content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 80px;
}

.drag-handle {
  cursor: move !important; /* fallback if grab cursor is unsupported */
  cursor: grab !important;
  cursor: -moz-grab !important;
  cursor: -webkit-grab !important;
}
h4{
  color: white!important;
}
label{
  color: #797979;
}
.makeStyles-root-228{
  background-color:#262626;
}
.MuiTypography-colorTextSecondary-174{
color: white!important;
}
.makeStyles-menuItem-281 {
  background-color: inherit;
  padding: 8px 0px;
  border-left: 4px solid #000000!important;
}